*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
}
.cont{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15rem;
}
.square{
    
    color:white;
    font-size: 2rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    margin: 10px;    
    background-color: black;
}